@tailwind base;
@tailwind components;
@tailwind utilities;

/* install Montagu Slab serif font */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap");


body {
  font-family: "Montagu Slab", serif;
}

/* Main Responsive & lay out assit */
.main-div {
  width: 100vw; /* Fills viewport width */
  height: 100vh; /* Fills viewport height */
  display: flex; /* Enables flexbox for layout */
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers elements vertically */
  align-items: center; /* Centers elements horizontally */
  transition: all ease-in-out 0.3s; /* Smooth transition on resize */
}

.my-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.clickable {
  cursor: pointer; /* Change cursor to pointer */
}

.black {
  color: white;
  background-color: #111;
}

/* Override default button styles cause it cannot center a simple icon */
.to-top-btn {
  display: inline-block !important;
  margin: 2px !important;
  align-self: center !important;
  right: 2px;
  /* background-color: #111; */
}

.footer {
  width: 100%;
  height: auto;
  bottom: 0;
  position: absolute;

}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0;
}